.about {
    padding: 80px 20px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
  }
  
  .about-image {
    flex: 1;
    padding-right: 20px;
  }
  
  .about-image img {
    max-width: 100%;
    height: auto;
    border-radius: 20px 100px; 
  }
  
  .about-content {
    flex: 1;
    text-align: left;
  }
  
  .about h2 {
    font-size: 1.4rem;
    margin-bottom: 50px;
    font-weight: 500;
    font-family: 'Playfair Display', serif;
    color: #FF8368;
  }
  
  .about p {
    font-size: 1.1rem;
    max-width: 800px;
    margin: 0 auto 20px auto;
    color: #666;
  }
  
  .read-more-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #FF8368;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .read-more-button:hover {
    background-color: #e76a54;
  }
  
  @media (max-width: 768px) {
    .about-container {
      flex-direction: column;
      align-items: center;
    }
  
    .about-image {
      padding-right: 0;
      margin-bottom: 20px;
    }
  
    .about-content {
      text-align: center;
    }
  }
  