body {
    margin: 0;
}

.login-container {
    display: flex;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.back {
    padding: 10px;
    background: transparent;
    color: #ff5722;
    cursor: pointer;
    font-size: 12px;
    display: flex;
    align-items: flex-start;
    position: absolute;
    top: 100px;
    left: 30px;

 
}

.back i {
    margin-right: 5px;
    
}

.back:hover {
    background: transparent;
    color: #333;
}

.login-form {
    flex: 1;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    overflow-y: auto;
}

.login-form h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.login-form p {
    font-size: 14px;
    color: #6c757d;
    margin-bottom: 20px;
    text-align: center;
}

.login-form form {
    width: 100%;
    max-width: 300px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.form-options label {
    display: flex;
    align-items: center;
}

.form-options input {
    margin-right: 5px;
}

.form-options a {
    color: #007bff;
    text-decoration: none;
}

.form-options a:hover {
    text-decoration: underline;
}

.submit {
    width: 100%;
    padding: 10px;
    background-color: #ff7043;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.submit:hover {
    background-color: #ff5722;
}

.login-image {
    flex: 1;
    overflow-y: auto;
    background: url('https://images.pexels.com/photos/1601505/pexels-photo-1601505.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') no-repeat center center/cover;
}


.signup-text {
    color: #007bff;
    cursor: pointer;
  }
  
  .signup-text:hover {
    text-decoration: underline;
  }
  